 #root {
  /* margin: auto auto; */
  padding: 2rem;
  text-align: center;
  background-color: rgb(190, 190, 190);
}

.button {
  float: right;
  height: 40px;
}

.form-label {
  font-weight: bold;
  text-decoration: underline;
}

text {
  font-size: x-large;
  font-weight: 500;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  float: left;
}
