 #root {
  padding: 2rem;
  text-align: center;
  background-color: rgb(244, 244, 244);
  font-size: small;
  font-weight: 500;
  min-height: 100vh;
}

/* Title */
.site-title {
  font-family: 'Arial', sans-serif; 
  font-weight: bold; 
  text-align: center;
  color: #2c3e50; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  margin: 1rem 0; 
}

/* Init Bar */
.init-bar-container {
  background-color: #3c3e40; /* Light background for the entire form */
  padding: 1.5rem; /* Adds padding around the container */
  border-radius: 8px; /* Smooth rounded corners */
  min-width: 100%;
}

/* Styling for each form label */
.form-label {
  color: #ffffff;
  text-transform: uppercase; /* Optional: Makes header text uppercase */
  font-weight: 600; /* Bold labels for emphasis */
  margin-bottom: 0.5rem; /* Adds space between label and input */
}

/* Spinner */
.spinner-overlay {
  position: fixed; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  z-index: 1050; /* Ensures it appears above other content */
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
  width: 100%; 
  height: 100%; 
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Table */
.table {
  border-radius: 8px; /* Smooth rounded corners */
  overflow: hidden; /* Ensures rounded corners apply to content */
}

.table th, .table td {
  padding: 0.75rem; /* Adds consistent padding */
}

.table th {
  background-color: #343a40; /* Dark background for headers */
  color: #ffffff; /* White text for contrast */
  text-transform: uppercase; /* Optional: Makes header text uppercase */
}

.table tfoot {
  background-color: #f1f3f5; /* Light background to distinguish the footer */
  font-weight: bold; /* Emphasizes footer content */
  color: #495057; /* Dark text color for readability */
  text-transform: uppercase;
}

.table tfoot td {
  padding: 0.75rem; /* Adds consistent padding */
  border-top: 1.5px solid #b7babe; /* Differentiates footer with a top border */
}

/* Button */
.button {
  height: auto;
}

.button img {
  width: 25px; /* Ensures the icon has a consistent size */
  height: 25px; /* Matches width for square icons */
}
