 #root {
  /* margin: auto auto; */
  padding: 2rem;
  text-align: center;
  background-color: rgb(190, 190, 190);
  min-height: 100vh;
}

.button {
  float: right;
  height: 40px;
}

.form-label {
  font-weight: bold;
  text-decoration: underline;
}

text {
  font-size: x-large;
  font-weight: 500;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  float: left;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Ensures the container fills the viewport */
}

